<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byName">
	
	<!-- 引入redis -->
	<beans:import resource="classpath:spring/redis/redis-pool.xml"/>
	
	<!-- redis 连接工厂 -->
	<bean id="mqJedisConnectionFactory" class="org.walkframework.redis.BaseJedisConnectionFactory">
		<property name="poolConfig" ref="jedisPoolConfig"/>
		<property name="usePool" value="${redis.pool.use}"/>
		<property name="hostName" value="${redis.mq.host}"/>
		<property name="port" value="${redis.mq.port}"/>
		<property name="password" value="${redis.password}"/>
	</bean>
	
	<!-- redis 模板定义 -->
	<bean id="mqRedisOperations" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="mqJedisConnectionFactory"/>
        <!-- 序列化/反序列化解析器，默认是jdk自带的解析器，但性能比较低，待选择一个性能比较高的序列化工具在此指定即可
        <property name="keySerializer" value="XX"/>
        <property name="valueSerializer" value="XX"/>
        <property name="hashKeySerializer" value="XX"/>
        <property name="hashValueSerializer" value="XX"/>
        -->
	</bean>
</beans>
